extends layout

block content
  a(id="gh",href="http://github.com/adkatrit/spotify-roulette", target="_blank")
    img( src="/images/gh-icon.png")
  div(class='center')
    h1= title
    div
      a(class='btn btn-large btn-block btn-info', id="rando", href="#") get a random track
      a(class='btn btn-large btn-block btn-info', id="randolist", href="#") get a random playlist
  iframe(id="view-port",width="380",height="380", seamless, frameborder=0,allowtransparency="true")

