doctype html
html
  head
    title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="/javascripts/main.js")
